ViewModelsXML/XML/Main/RadioStations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="stations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="station">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="url" minOccurs="1" maxOccurs="1" type="xs:string" />
              <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
              <xs:element name="category" type="xs:string" />
              <xs:element name="country" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte"  />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>